{{ define "main" }}
  <img src="/images/photo.jpg" alt="Profile photo" class="profile-photo rounded float-right">
  <h1>Hello there</h1>

  <p>
    My name is Pavel and this is my personal place where I share thoughts with the
    rest of the world. Mostly in English, but some of the old posts are in Russian.
    Currently I live in the sunny Cyprus with my girlfriend and a dog.
  </p>

  <p>
    I’m a backend developer mostly focused on Node.js stack, solving problems
    with TypeScript and sometimes with JavaScript. I also like to automate things with
    bash. <a href="/about">Want to learn more?</a>
  </p>

  <div class="separator"></div>

  <ul class="posts">
    {{ range where .Site.RegularPages "Section" "blog" }}
    <li class="item">
      <div class="meta">{{ .Date.Format "January 2, 2006" }}</div>
      <div class="title">
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      </div>
      <div class="description">{{ .Description }}</div>
    </li>
    {{ end }}
  </ul>
{{ end }}
