{{ define "main" }}
  <img src="/images/photo.png" alt="Profile photo" class="profile-photo rounded float-right">
  <h1>Hi there</h1>

  <p>
    My name is Pavel, and this is my personal place where I share thoughts with the
    rest of the world. Currently I live in the sunny Cyprus with my wife and a dog.
  </p>


  <p>
    Here are some links:
    <ul>
      <li>
        My writings in the <a href="https://blog.schfkt.dev">blog</a>
      </li>
      <li>
        Photos I <a href="https://photo.schfkt.dev">shoot</a>
      </li>
      <li>
        Send me an <a class="plausible-event-name=Email+Clicked" href="mailto:{{ .Site.Params.Email }}">email</a>
      </li>
    </ul>
  </p>
{{ end }}
