{{ define "main" }}
  <img src="/images/photo.jpg" alt="Profile photo" class="profile-photo rounded float-right">
  <h1>Hello there</h1>

  <p>
    My name is Pavel and this is my personal place where I share my thoughts
    with the rest of the world. Mostly in English, but some of the old posts are in Russian.
    Currently I live in the sunny Cyprus with my girlfriend and a dog.
  </p>

  <ul class="posts">
    {{ range where .Pages "Section" "blog" }}
    <li class="item">
      <div class="meta">{{ .Date.Format "January 2, 2006" }}</div>
      <div class="title">
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      </div>
      <div class="description">{{ .Description }}</div>
    </li>
    {{ end }}
  </ul>
{{ end }}
