.posts {
  list-style-type: none;
  padding: 0;
  padding-top: 3rem;

  .item {
    padding: 2rem 0;
    border-top: 1px #e8e6e3 solid;

    &:first-child {
      padding-top: 0;
      border: none;
    }

    .meta {
      color: #999;
      margin-bottom: 0.25rem;
    }

    .title {
      font-size: 2rem;
      line-height: 1.2;

      a {
        color: #444;
      }
    }

    .description {
      margin-top: 0.5rem;

      &:empty {
        margin: 0;
      }
    }
  }
}
